<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IroNBA</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  


  {{{ body }}}
{{!-- layouts file includes the code we want to repeat on every view and we refer to the layout file with {{{body}} indication in the middle of the body section. ---
// three curlies around body either side

</body>
</html>